COMMON: &common
  DEBUG: False
  TESTING: False
  SECRET_KEY: 't0p s3cr3t'
  SSL_DISABLE: False
  MAIL_SERVER : 'smtp.yourdomain'
  MAIL_PORT : 25
  MAIL_USE_TLS : False
  MAIL_USE_SSL : False
  MAIL_DEFAULT_SENDER : 'sender@yourdomain'
  MAIL_RECIPIENTS : ['recipients@yourdomain']
  REPORTS_DIR : '/tmp'
  OAUTH_CERTIFICATE_PATH: '/tmp/pubkey.pem'

DEVELOPMENT: &development
  <<: *common
  DEBUG: True
  MONGOALCHEMY_DATABASE: 'msdevelopment'

PRODUCTION: &production
  <<: *common
  MONGOALCHEMY_DATABASE: 'msregistry'

TESTING: &testing
  <<: *common
  TESTING: True
  DEGUG: True
  MONGOALCHEMY_DATABASE: 'msdevelopment'
  SSL_DISABLE: TRUE
  DEBUG: True
  AUTH_USER: 'testme'
  ACCESS_KEY: 'letmein'
  AUTH_IP: '127.0.0.1'

DATA: &data
  <<: *common
  MONGOALCHEMY_DATABASE: 'msregistry'
  SSL_DISABLE: TRUE
  DEBUG: True
  AUTH_USER: 'auth-user-name'
  ACCESS_KEY: 'your password'
  AUTH_IP: 'some.ip.here'

DEFAULT: &default
  <<: *testing
