COMMON: &common
  DEBUG: False
  TESTING: False
  SECRET_KEY: 't0p s3cr3t'
  SSL_DISABLE: False
  MAIL_SERVER : 'smtp.yourdomain'
  MAIL_PORT : 25
  MAIL_USE_TLS : False
  MAIL_USE_SSL : False
  MAIL_DEFAULT_SENDER : 'sender@yourdomain'
  MAIL_RECIPIENTS : ['recipients@yourdomain']
  REPORTS_DIR : '/tmp'
  OAUTH_CERTIFICATE_PATH: '/tmp/pubkey.pem'

DEVELOPMENT: &development
  <<: *common
  DEBUG: True
  MONGOALCHEMY_DATABASE: 'msdevelopment'

PRODUCTION: &production
  <<: *common
  MONGOALCHEMY_DATABASE: 'msregistry'

TESTING: &testing
  TESTING: True
  MONGOALCHEMY_DATABASE: 'msdevelopment'

DEFAULT: &default
  <<: *development
